@import './../../styles/settings/settings.variables';
@import './../../styles/utilities';

.sign-up {
  height: calc(100vh - px-to-rem(80));
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: map-get($colors, 'secundary');
  color: map-get($colors, 'primary');

  &__modal {
    min-height: px-to-rem(220);
    min-width: 40%;
    padding: px-to-rem(28) px-to-rem(25) px-to-rem(23) px-to-rem(32);
    border: 1px solid map-get($colors, 'light-gray');

    &__title {
      margin-bottom: px-to-rem(30);
    }

    &__phrase {
      margin-bottom: px-to-rem(13);
    }

    &__footer {
      width: 100%;
      margin-top: px-to-rem(13);
      text-align: right;
    }

    @media only screen and (max-width: 1024px) {
      min-width: 60%;
    }
  }
}
